.temple_names{
	color: white;
	background-color: #FF6347;
	padding: 10px;
}
.temple_names:hover{
	color: white;
}
.subscrever, .subscrever:hover{
	color: white;
}
.at{
	color: rgb(255, 47, 47);
}
.nt{
	color: rgb(62, 175, 29);
}
.gt{
	color: rgb(10, 153, 222);
}
.ot{
	color: rgb(224, 230, 0);
}
.ssd{
	color: #FF6347;
	font-size: 25px;
}
.imglogo{
	width: 74px;
	height: 49px;
}
.plan_name{
	color: #FF6347;
}
.cor_enviar{
	color: white;
}